.dss {
    padding: 0;
    margin: 0;
    font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
    color: #4c4c4c;
    font-size: 13px;
    background: white;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.dss.dss_webclient_container {
    height: 100%;
}
.dss .dss_webclient {
    width: 100%;
    height: 100%;
    border-spacing: 0px;
}
.dss .dss_application {
    width: 100%;
    height: 100%;
}
.dss .dss_login {
    /*background-image: url('../images/skin/index.png');*/
    text-align: center;
    font-size: 14px;
    height: 100%;
}
.dss .dss_login ul, .dss .dss_login li {
    margin: 0;
    list-style-type: none;
    padding: 0 0 4px 0;
}
.dss .dss_login button {
    cursor: pointer;
    padding: 6px 16px;
    border: 1px solid #222222;
    color: white;
    margin: 0;
    background-color: #8c1313;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1e4b6f), to(#051828));
    background-image: -webkit-linear-gradient(top, #1e4b6f, #051828);
    background-image: -moz-linear-gradient(top, #1e4b6f, #051828);
    background-image: -ms-linear-gradient(top, #1e4b6f, #051828);
    background-image: -o-linear-gradient(top, #1e4b6f, #051828);
    background-image: linear-gradient(to bottom, #1e4b6f, #051828);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
}
.dss .dss_login input, .dss .dss_login select {
    width: 252px;
    font-family: "Lucida Grande", Helvetica, Verdana, Arial;
    border: 1px solid #999999;
    background: whitesmoke;
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.dss .dss_login input {
    margin-bottom: 9px;
    padding: 5px 6px;
}
.dss .dss_login select {
    padding: 1px;
}
.dss .dss_login .dss_login_dbpane {
    position: fixed;
    top: 0;
    right: 8px;
    padding: 5px 10px;
    color: #eeeeee;
    border: solid 1px #333333;
    background: #1e1e1e;
    background: rgba(30, 30, 30, 0.94);
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
}
.dss .dss_login .dss_login_dbpane input {
    padding: 2px 4px;
    margin: 4px 0;
}
.dss .dss_login .dss_login_bottom {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    text-shadow: 0 1px 1px #999999;
    background-color: #8a0e0e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1e4b6f), to(#051828));
    background-image: -webkit-linear-gradient(top, #1e4b6f, #051828);
    background-image: -moz-linear-gradient(top, #1e4b6f, #051828);
    background-image: -ms-linear-gradient(top, #1e4b6f, #051828);
    background-image: -o-linear-gradient(top, #1e4b6f, #051828);
}
.dss .dss_login .dss_login_pane {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -160px -166px;
    border: solid 1px #333333;
    background: #1e1e1e;
    background: rgba(30, 30, 30, 0.94);
    padding: 22px 32px;
    color: #eeeeee;
    text-align: left;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
}
.dss .dss_login .dss_login_pane h2 {
    margin-top: 0;
    font-size: 18px;
}
.dss .dss_login .dss_login_logo {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.dss .dss_login .dss_login_footer {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    text-align: center;
}
.dss .dss_login .dss_login_footer a {
    color: #eeeeee;
    margin: 0 8px;
}
.dss .dss_login .dss_login_footer a:hover {
    text-decoration: underline;
}
.dss .dss_login .dss_login_footer span {
    font-weight: bold;
    font-size: 16px;
}
.dss .dss_login .dss_login_error_message {
    display: none;
    background-color: #b41616;
    color: #eeeeee;
    padding: 14px 18px;
    margin-top: 15px;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
}
.dss .dss_login_invalid .dss_login_error_message {
    display: inline-block;
}